<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/ca6e554a49.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    <title>Mars</title>
    <link rel="icon" type="image/x-icon" href="../img/icons/mars.png">
</head>
<body>
    <section class="section-navigationbar">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <div class="container-fluid">
                <!--Bal oldal-->
                <div class="collapse navbar-collapse order-lg-1 order-3" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Főoldal</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Bolygók
                            </a>
                            <ul class="dropdown-menu menuBolygok" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item disabled">Központi csillagok</a></li>
                                <li><a class="dropdown-item" href="../view/nap.html">Nap</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item disabled">Kőzetbolygók</a></li>
                                <li><a class="dropdown-item" href="../view/merkur.html">Merkúr</a></li>
                                <li><a class="dropdown-item" href="../view/venusz.html">Vénusz</a></li>
                                <li><a class="dropdown-item" href="../view/fold.html">Föld</a></li>
                                <li><a class="dropdown-item" href="../view/mars.html">Mars</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item disabled">Gázbolygók</a></li>
                                <li><a class="dropdown-item" href="../view/jupiter.html">Jupiter</a></li>
                                <li><a class="dropdown-item" href="../view/szaturnusz.html">Szaturnusz</a></li>
                                <li><a class="dropdown-item" href="../view/uranusz.html">Uránusz</a></li>
                                <li><a class="dropdown-item" href="../view/neptunusz.html">Neptunusz</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item disabled">Törpe bolgyók</a></li>
                                <li><a class="dropdown-item" href="../view/pluto.html">Plútó</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--Bal oldal-->

                <!--Navbar Brand + Hamburger Icon-->
                <a class="navbar-brand order-1 mr-lg-0" href="#">
                    Naprendszerünk
                </a>
                <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Navbar Brand + Hamburger Icon-->

                <!--Jobb oldal-->
                <div class="collapse navbar-collapse order-lg-3 order-4" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../view/rolunk.html">Rólunk</a>
                        </li>                        
                    </ul>
                </div>
                <!--Jobb oldal-->
            </div>
        </nav>
    </section>

    <section class="section-main">
        <div class="mx-auto container-main">
            <main role="main" class="main">
                <section class="section-bevezetes">
                    <h1 class="cim1 text-center mx-4" id="sziasztok-urutazok">Sziasztok Űrutazók!</h1>
                    <p class="text-center">                
                        Köszöntelek benneteket felfedezőtúránk ötödik állomásánál, a Marson! Vörös, kietlen, na és persze tele van marslakókkal. Nos az igazat megvallva ezen állításokból csak az első kettő igaz. El kell keserítsek mindenkit, apró, zöld, hatalmas fejmérettel rendelkező marslakók nincsenek. Viszont az emberiség már felfedező robotokat küldött a Mars felszínére, melyek teljes valójában mutatták meg, milyen is másik szomszédunk felszíne. Ha kíváncsiak vagytok rá, tartsatok velem! Öveket becsatolni! Landolunk.
                    </p>
                </section>

                <section class="triangle-divider"></section>

                <section class="section-altalanos">
                    <div class="grid-container">
                        <div class="w-50 mx-auto row">
                            <div class="col-xl-6 colList">
                                <ul class="altalanos-info-list">
                                    <li class="li-tavolsag">Naptól való távolság: 227,9 millió km</li>
                                    <li class="li-homerseklet">Felszíni hőmérséklet: -125 °C-tól, 25 °C-ig</li>
                                    <li class="li-atmero">Átmérő: 6 780 km</li>
                                    <li class="li-tomeg">Tömeg (Föld = 1): 0,11</li>
                                    <li class="li-hold">Holdak száma: 2</li>
                                </ul>
                            </div>
                            <div class="col-xl-6 colImage">
                                <img src="../img/planets/mars.png" id="imgMars" alt="Mars">
                            </div>
                        </div>
                    </div>
                    <p class="mx-4">
                        A Mars a Naptól számítótt negyedik bolygó a Naprendszerünkben. A <a id="linkBolygo" href="../view/venusz.html">Vénusz</a> mellett, Földünk másik közvetlen bolygószomszédja. Az éjszakai égbolton, akár szabad szemmel is látható. Nevét a rómaiak hadistenéről kapta, mivel a bolygó vöröses színe miatt az éjszakai égbolton vörös fénypontként látható, melyet az ősi római csillagászok a vérhez kötöttek. 
                    </p>
                    <p class="mx-4">
                        A Mars, a maga 6 780 kilóméteres átmérőjével majdnem akkora mint a Föld, viszont így is csak a harmadik legnagyobb kőzetbolygó a Naprendszerben. Központi csillagunktól 1,5 Csillagászati Egységre található, ami körülbelül 228 millió km. Ilyen távolságból a Napból érkező fény körülbelül 13 perc alatt éri el bolygószomszédunkat.
                    </p>
                </section>

                <section class="triangle-divider"></section>

                <section class="section-palya">
                    <h2 class="text-center mx-4 mt-4">Pálya</h2>
                    <p class="mx-4">
                        A Mars pályája elnyúltabb ellipszis, így a Naphoz legközelebbi pontján 45%-kal több sugárzást kap, mint legtávolabbi pontjában. Ez azt jelenti, hogy a felszíne a déli pólusnál -125 Celsius fok hőmérsékletű, és +25 Celsius fokig változhat a nyár folyamán. Jelenlegi 25,2 fokos tengelyhajlása hasonló a Földéhez, és évszakok lépnek fel a Marson is. Ám míg itt a Földön az évszakok egyenletesen oszlanak el az év folyamán, és 3 hónapig (vagy egy negyedévig) tartanak, addig a Marson az évszakok hossza változik, mivel a Mars elliptikus, tojás alakú pályán kering a Nap körül. Az északi féltekén a tavasz (a déli féltekén az ősz) a leghosszabb évszak, 194 sol-lal. Az északi féltekén az ősz (a déli féltekén a tavasz) a legrövidebb, 142 nap. Az északi tél/déli nyár 154 nap, az északi nyár/déli tél pedig 178 nap. (A marsi napokat sol-nak nevezik, ami a "napnap" rövidítése.)
                    </p>
                    <p class="mx-4"> 
                        Forgási sebessége szinte azonos a Föld forgási sebességével, ugyanis a Mars 24,6 óránként tesz meg egy telhes fordulatot saját tengelye körül. Nagyobb, szélesebb pályája miatt azonban a Nap körül egy teljes kört csak 678 nap alatt képes megtenni.
                    </p>

                    <div class="mx-auto mb-2 container container-palya">
                        <img src="../img/planets/Mars/orbitmars.gif" alt="A Mars pályája">
                        <figcaption class="text-center">A Mars pályája</figcaption>                                            
                    </div>
                </section>

                <section class="triangle-divider"></section>

                <section class="section-szerkezet">
                    <h2 class="text-center mx-4 mt-4">Szerkezet</h2>
                    <p class="mx-4">
                        A Mars belső szerekezetére már egyetlen adatból következtetni lehet. Ez az adat pedig nem más, mint a bolygó átlagsűrűsége. A Mars átlagsűrűsége jóval kisebb mint a Földé és alig valamivel nagyobb mint a Holdé. A bolygó felépítése ezért eltérő. A felvetés szerint a Mars belsejében az első egy-két milliárd évben a vas és a vas-szulfid keverék megolvadt és így egy viszonylag sűrű mag keletkezett, melynek sugara nagyjából 1800-2000 km. Általános felvetés, hogy ez a mag szilárd, mivel a bolygó nem rendelkezik globális mágneses térrel. Ugyanakkor nem kizárható az olvadt külső mag sem.
                    </p>
                    <p class="mx-4">
                        Szerkezetének belső rétegei hasonlóak mint a Földnél tapasztalhatóak. A bolygó középpontjában található a mag. Ezt már az előbb ismertettük. Ezt követi a kéreg, ami kb 20-80 km vastagságú. Ezt követi egy szilárd litoszféra, mely 100-200 km vastagságú lehet. Az erre tornyosuló köpeny, körülbelül 1300-1800 km vastag.
                    </p>

                    <div class="mx-auto mb-2 container container-felepites">
                        <img src="../img/planets/Mars/structuremars.jpg" alt="A Mars szerkezete">
                        <figcaption class="text-center">A Mars szerkezete</figcaption>                                            
                    </div>
                </section>

                <section class="triangle-divider"></section>
                
                <section class="section-felszin">
                    <h2 class="text-center mx-4 mt-4">Felszín</h2>
                    <p class="mx-4">
                        A vörös bolygónak nevezett szomszédunk valójában igen sokszínű. A felszínen olyan színeket látunk, mint a barna, az arany és a barnásbarna. A Mars vöröses színének oka a kőzetekben, a regolitban (marsi "talajban") és a marsi porban lévő vas oxidációja - vagyis rozsdásodása -. Ez a por a légkörbe kerül, és távolról nézve a bolygót többnyire vörösnek tünteti fel. Érdekes módon, bár a Mars átmérője körülbelül fele akkora, mint a Földé, a felszíne majdnem ugyanolyan területű, mint a Föld szárazföldje. Vulkánjai, becsapódási kráterei, a kéregmozgások és a légköri viszonyok, például a porviharok hosszú évek alatt megváltoztatták a Mars tájképét, létrehozva a Naprendszer legérdekesebb topográfiai jellemzőit.
                    </p>                    

                    <div class="mx-4 gallery">
                        <figure>
                            <img class="gallery_img" src="../img/planets/Mars/surfacemars.jpg" alt="">
                        </figure>
                        <figure>
                            <img class="gallery_img" src="../img/planets/Mars/surfacemars2.jpg" alt="">
                        </figure>
                    </div>
                    <p class="mx-4">
                        A Marson látványos vulkáni alakzatok vannak, ugyanakkor a mélyben történő folyamatok kevéssé ismertek. A vulkáni területek a bolygó felszínének 2%-át teszik ki, a lávafolyások pedig 58%-át. A magma nagy vastartalma híg lávát eredményezett. A földinél kisebb gravitáció miatt pedig magasabb vulkáni képződmények keletkeztek. A bolygón megfigyelhető vulkáni alakzatok három nagy csoportja: a vulkáni pajzsok, melyek kúpja lapos; a vulkáni kúpok, melyek a vulkáni pajzsoknál meredekebbek; és az ún. paterák, melyek rendkívül lapos, sugaras mintázatú kalderák.
                    </p>
                    <p class="mx-4">
                        A Mars legnagyobb tektonikus alakzataiból néhány: <br>
                        <ul>
                            <li>
                                Pavonis Mons: nagy pajzsvulkán, kora 300 millió év, átmérője 375 km. A nyugati félteke hatalmas kidudorodása. A vulkán csúcsa 7 km-rel emelkedik a környezete fölé, a kalderája egy nagyobb sekély mélyedésben van.
                            </li>
                            <li>
                                Ascraeus Mons: pajzsvulkán, kora 100 millió év, átmérője 460 km. A Tharsis-régió legészakibb vulkánja, kb. 18 km-rel emelkedik a környezete fölé.
                            </li>
                            <li>
                                A Valles Marineris: Nagy hasadékvölgy, szurdokvölgyek rendszere. Kora 3,5 milliárd év, hossza több mint 4000 km. A Valles Marineris a legnagyobb alakzat a Marson, amelyet minden jel szerint tektonikai erők hoztak létre. Helyenként akár 700 km széles, és átlagosan 8 km mély. A Valles Marineris közvetlenül az egyenlítő mentén, attól délre található, nagyjából kelet-nyugati irányú. Vonala mentén vetődések találhatók, melyek a Tharsis-hátságból indulnak ki. A szurdokvölgyet a víz és a szél is alakította.
                            </li>
                        </ul>                        
                    </p>

                    <model-viewer class="mx-auto merkurModell" src="../3D/mars.glb" camera-controls alt="A Mars 3D-s modellje"></model-viewer>
                    <figcaption class="mb-4 text-center">A Mars 3D-s modellje</figcaption>
                    
                    <p class="mx-4">
                        A Marson a víz jelenleg a légköri vízpára, a felszíni jég, és a felszínalatti jég formájában van jelen. A legnagyobb vízmennyiség a felszín alatti jég. A Mars fejlődésének kezdeti időszakában annyi víz lehetett jelen, ami a bolygó teljes felszínét 100-500 m vastagon fedte volna be, ha egyenletes eloszlást feltételezünk. A bolygó felszínén a jég elhelyezkedése jelentősen változott a fejlődése során. Erre utalnak a völgyhálózatok, melyek a jég megolvadásakor keletkező vizet vezették el. A tengelyferdeség jelentős időbeni változása során a jég a pólusok és az egyenlítő között vándorolt.
                    </p>
                    <p class="mx-4">
                        Mind a folyékony, mind a megszilárdult víz alkotott képződményeket a Marson. Óriási, csatornaszerű völgyek tűnnek elő, melyek hatalmas áradások tanúi. Másokat a folyók lassan folydogáló vize alakított. Egyes alakzatok arra utalnak, hogy a Marsnak egykor tengerei voltak. Egy ilyen víz alkotta képződményre példa a következő:
                    </p>
                    <p class="mx-4">
                        A két fehér, poláris sapka szembeötlő kontrasztot alkot a Mars vörös színével. Az egyikük középpontja nagyjából az északi póluson van. Ez a Planum Boreum. Ez egy jégborította domb, mely néhány kilométerrel emelkedik a környező síkság fölé. Állandó vízjég-sapkából áll, melybe némi szárazjég is keveredik. A marsi tél folyamán az egész régió hat hónapon át sötétségben van. A legújabb felvételeken a földi sarkvidékeken találtakhoz hasonló, sokszög-alakú mintázatok borítják a poláris vidéket. Ezek a jég felolvadásával és újbóli megfagyásával keletkeznek.
                    </p>
                </section>

                <section class="triangle-divider"></section>

                <section class="section-legkor">
                    <h2 class="text-center mx-4 mt-4">Légkör</h2>
                    <p class="mx-4">
                        A Mars vékony légköre főként szén-dioxidból (95%), nitrogénből (3%) és argonból áll (1,6%). A Mi szemünk számára az égbolt a levegőben lebegő por miatt homályos és vörös lenne, azzal a kék árnyalattal szemben, mint amit itt a Földön megszokhattunk.
                    </p>
                    <p class="mx-4">
                        A légkör rétegződését a felszínre leszálló és leereszkedés közben nyomás-, hőmérséklet-, és sűrűség-méréseket végző műholdak és marsjárók adataiból ismerjük. Ilyenek péládul a Viking-1, a Viking-2, a Mars Pathfinder és a Perseverance. Ezen járművek adatai alapján a légkör három fő része a következő: alsó, középső és felső légkör.
                    </p>
                    <p class="mx-4">
                        Az alsó légkör a felszíntől számított 40 km-es magasságig terjed. A nyomás és a hőmérséklet a magassággal csökken. Ezt a réteget két folyamat melegíti. A légkörben lévő szén-dioxid egy nagyon gyenge üvegházhatást vált ki, mivel ez akadályozza az infravörös sugarak távozását a világűr felé. Ezen felül az alsó légkörben nagy mennyiségű finom porszemcse található, amik elnyelik a Napból érkező infravörös sugárzást, és újra kisugározzák azt. Ez a porréteg fontos szerepet játszik az alsó légkör hőmérsékletének meghatározásában. Télen az ózon is hozzájárul kismértékben a sarkok feletti légkör melegítéséhez azzal, hogy a Napból érkező UV-sugárzás hatására ózon keletkezik. Az ózon viszonylag ritka a légkörben, mivel kevés a rendelkezésre álló oxigén, és mivel reakcióba lép a légkörben lévő hidrogénnel. A sarkok felett téli időszakban kevés a légkörben a vízpára, így ilyenkor több ózon keletkezik.
                    </p>
                    <p class="mx-4">
                        A középső légkör (vagy mezoszféra) 40 és 100 km között helyezkedik el. Itt a hőmérséklet erősen időfüggő. A hőmérséklet-változások a közeli infravörös sugárzás elnyelődéséből származnak, és a napsugárzásból eredő másodlagos sugárzásból, amit a szén-dioxid bocsát ki. Hatással van rá az alsó légkörben kialakuló hullámmozgás, ami a középső légkörben felerősödik az éjszakai és nappali oldal közötti hőmérséklet-különbségek hatására.
                    </p>
                    <p class="mx-4">
                        A felső légkör (vagy termoszféra) a 110 km fölötti magasságokon található. A termoszférát a Nap 10 és 100 eV közötti energiájú extrém UV-sugárzása gerjeszti (ez 100 nm és 10 nm közötti hullámhosszat jelent). A Nap extrém UV-sugárzásának erőssége a napciklustól függ. A hőmérséklet alacsonyabb, ha a Nap aktivitása alacsonyabb, és növekszik, ha a napfoltok száma növekszik. A 130 km feletti réteget ionoszférának nevezik, mert a Napból eredő sugárzás ionizálja a légkörben lévő gázokat. A Mars ionoszférájában lévő elektronok nagy része szén-dioxidból származik és a nappali oldal felett a fényelektromos jelenség miatt nagyobb számban fordulnak elő.
                    </p>

                    <div class="mx-4 gallery-three">
                        <figure>
                            <img class="gallery_img" src="../img/planets/Mars/opportunity.jpg" alt="Opporunity marsjáró">
                        </figure>
                        <figure>
                            <img class="gallery_img" src="../img/planets/Mars/viking1.jpg" alt="Viking-1 marszonda">
                        </figure>
                        <figure>
                            <img class="gallery_img" src="../img/planets/Mars/perseverance.jpg" alt="Perseverance marsjáró">
                        </figure>
                    </div>
                </section>

                <section class="triangle-divider"></section>

                <section class="section-magnetoszfera">
                    <h2 class="text-center mx-4 mt-4">Magnetoszféra</h2>
                    <p class="mx-4 text-center">
                        A Marsnak ma nincs globális mágneses mezeje, de a Mars déli féltekéjén a kéreg egyes területei erősen mágnesezettek, ami egy 4 milliárd évvel ezelőtti mágneses mező nyomaira utal.
                    </p>                
                </section>

                <section class="triangle-divider"></section>

                <section class="section-elet">
                    <h2 class="text-center mx-4 mt-4">Élet a bolygón</h2>
                    <p class="mx-4">
                        Mai tudásunk szerint egy bolygón akkor alakulhat ki élet, ha ott víz is található, folyadék formájában. Ehhez az kell, hogy a bolygó a lakhatósági zónában legyen, tehát a Naptól annyira távol, hogy a víz ne párologjon el, de ne is fagyjon meg. Ez a mi Naprendszerünkben azt a zónát jelenti, ami a Vénuszon túl és a Mars fél nagytengelye között van.
                    </p>
                    <p class="mx-4">
                        A magnetoszféra hiánya és a rendkívül vékony atmoszféra nagy kihívás az élettel szemben; a bolygónak kevés a hőátvitele a felszínén, a napszél bombázása és az atmoszferikus nyomás alacsony volta miatt a víz nem képes folyékony halmazállapotban maradni. A Mars közel (vagy teljesen) halott geológiailag; a vulkanikus tevékenység vége látszólag megállította a vegyi anyagok és ásványi anyagok újrahasznosítását a bolygó felszíne és belső területe között.
                    </p>
                    <p class="mx-4">
                        Sok vizsgálat mutatja azt, hogy a bolygó régebben élhetőbb volt, mint ma, de még nem tudjuk, hogy alakult-e ki élet rajta. A hetvenes évek közepén az amerikaiak a Viking-program keretein belül vizsgálták a marsi talajt, hátha találnak bennük mikroorganizmusokat. Ezek pozitív eredménnyel jártak, beleértve a víz és a tápanyagok expozíciójának ideiglenes CO2 termelését. Ezt az életjelet később vitatták a tudósok, mely sokáig folytatódott, hiszen a NASA Gilbert Levin nevű tudósa azt állította, hogy életet találtak. A mai tudásunkkal azonban azt tudjuk mondani, hogy a Viking tesztek nem voltak elég kifinomultak az élet felismerésére. Amennyiben a teszt talált volna életet, a technika fejletlensége miatt akár meg is ölhette azt.
                    </p>
                    <p class="mx-4">
                        Egy szóval, még a tudomány mai állása szerint is, jelenleg egyértelműen nem bizonyítható, hogy van, vagy volt-e élet a Marson.
                    </p>
                </section>

                <section class="triangle-divider"></section>

                <section class="section-holdak">
                    <h2 class="text-center mx-4 mt-4">Holdak</h2>
                    <p class="mx-4">
                        A Mars 2, igen kicsiny holddal rendelkezik. Ez a Phobos és a Deimos. Mind a Phobos, mind a Deimos a Naprendszer legnehezebben megfigyelhető égitestei közé tartoznak. Mind a két hold szabálytalan alakú. Kötött keringésűek, ami azt jelenti, hogy állandóan ugyanazzal a felükkel fordulnak a Mars felé. Mindkét holdon nagy számban találhatók kráterek. Egyes feltételezések szerint a két hold az aszteroida övből származik, s a Mars befogta őket. Vannak azonban olyan elméletek, melyek szerint a Mars keletkezése után visszamaradt törmelékből jöttek létre. Erre utalhat, hogy a bolygó egyenlítői síkjában keringenek. 
                    </p>
                    <p class="mx-4">
                        A Phobos kondritos felépítésű, azaz sokszenet tartalmaz. A Deimos anyaga feltehetően szintén széntartalmú kondrit.
                    </p>

                    <div class="mx-4 gallery">
                        <figure class="d-flex justify-content-center">
                            <img class="gallery_vid_lg" src="../img/planets/Mars/phobos.jpg" alt="Phobos">                        
                        </figure>
                        <figure class="d-flex justify-content-center">
                            <img class="gallery_vid_lg" src="../img/planets/Mars/deimos.jpg" alt="Deimos">
                        </figure>
                    </div>
                </section>

                <section class="triangle-divider"></section>

                <section class="section-gyuruk">
                    <h2 class="text-center mx-4 mt-4">Gyűrűk</h2>
                    <p class="mx-4 text-center">
                        A Mars nem rendelkezik gyűrűkkel.
                    </p>
                </section>

                <section class="triangle-divider"></section>

                <section class="osszefoglalo-video">
                    <h2 class="text-center mx-4 mt-4">Összefoglaló videó</h2>
                    <p class="mx-4 text-center">
                        Elérkeztünk fejezetünk végére, melyben a "vörös bolygóról", Marsról tudhattunk meg többet. Most pedig kérlek benneteket tekintsétek meg az Űrkutatás Magyarul youtube csatorna videóját, melyben egy velős minden igényt kielégítő bemutatót láthattok bolygószomszédunkról.
                    </p>
                    <div class="mx-auto osszefoglalo-container">
                        <iframe src="https://www.youtube.com/embed/watch?v=JUnjiIjFL7Y&list=PLP33AR3c0LjvyPiSmWXuIAMvI2Y5mwsIc&index=6" frameborder="0" id="osszefoglaloVideo"></iframe>
                    </div>

                    <h2 class="text-center mx-4 mt-4">Összefoglaló kérdések</h2>
                    <p class="mx-4 text-center">Most a tudásotok ellenőrzésének érdekében, kérlek titeket válaszoljatok 4 kérdésre az adott bolygóval kapcsolatban! Válasszátok ki a lehetőségek közül azt az egyet, amelyik szerintetek helyes!</p>

                    <div class="container-fluid" id="container-quiz">
                        <section class="kerdes-1">
                            <h3 class="text-center" id="pt-2">1. A Mars felszínén már járt ember által készített robot?</h3>
                            <div id="answer-container">                                                    
                            <button class="buttonAnswer" id="valaszB">Igen, egyszer</button>
                            <button class="buttonAnswer" id="valaszC">Még nem, de fog</button>
                            <button class="buttonAnswer" id="valaszA">Igen, többször is</button>                            
                        </section>
                        
                        <section class="kerdes-2">
                            <h3 class="text-center" id="pt-2">2. A Mars egy római istenségről kapta a nevét?</h3>
                            <div id="answer-container">                                                        
                            <button class="buttonAnswer" id="valaszA">Igen</button>
                            <button class="buttonAnswer" id="valaszB">Nem</button>
                        </section>
    
                        <section class="kerdes-3">
                            <h3 class="text-center" id="pt-2">3. Rendelkezik-e gyűrűkkel a Mars?</h3>
                            <div id="answer-container">
                            <button class="buttonAnswer" id="valaszB">Igen, jégből állóval</button>
                            <button class="buttonAnswer" id="valaszA">Nem</button>
                            <button class="buttonAnswer" id="valaszC">Igen, törmelékből állóval</button>                            
                        </section>
    
                        <section class="kerdes-4">
                            <h3 class="text-center" id="pt-2">4. A Mars szerkezete hasonlít a Földére?</h3>
                            <div id="answer-container">
                            <button class="buttonAnswer" id="valaszA">Igen</button>
                            <button class="buttonAnswer" id="valaszB">Nem</button>                            
                        </section>
                    </div>
                </section>
            </main>
        </div>
    </section>

    <section class="section-footer">
        <footer class="text-center text-white footer-custom">
            <div class="social-media-container">
                <a class="btn btn-floating m-1" href="https://www.facebook.com/urkutatasmagyarul/" role="button">
                    <i class="fa-brands fa-facebook fa-2x"></i>
                </a>
                <a class="btn btn-floating m-1" href="https://www.instagram.com/nasa/" role="button">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a class="btn btn-floating m-1" href="https://www.youtube.com/c/%C5%B0rkutat%C3%A1smagyarul"
                    role="button">
                    <i class="fa-brands fa-youtube fa-2x"></i>
                </a>
            </div>
            <div class="text-center p-3">
                2022 A weboldalt készítette:
                <a class="text-white" href="">Pokol László</a>
            </div>
        </footer>
    </section>

</body>
</html>